#wrapper {
  margin: 0px 0px;
  width: 275px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  max-height: 600px;
  text-align: center;
}

#wrapper p {
  font-size: 30px;
  padding: 0px;
  margin: 10px;
  color: #bbb;
}

#wrapper p strong {
  font-weight: bold;
  color: #ff9e00;
}

* {
  margin: 0;
  padding: 0;
}

img{
  margin: 5px;
  margin-top: 10px;
}

.title-popup {
  color: #bbb;
}
